# Entornos virtuales
venv_backend/
venv/

# Archivos de configuración sensibles
.env
*.env

# Archivos temporales
*.log
*.pid
*.pyc
__pycache__/

# Volúmenes de Docker
postgres_data/
elasticsearch_data/

# Archivos de compilación
node_modules/
dist/
build/
iptables_backup_2025-05-30.txt
setup_iptables.sh
