repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: black
    language: system
    types_or: [python]
  - id: ruff
    name: ruff
    entry: ruff check --fix
    language: system
    types_or: [python]
  - id: isort
    name: isort
    entry: isort
    language: system
    types_or: [python]
